        body {
            font-family: Arial, sans-serif;
            /* background: url("image/blurmap.png") no-repeat center; */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;   
        }

        .loginBox {
            background: white;
            padding: 25px;
            border-radius: 8px;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        h2 {
            text-align: center;
        }

        input {
            width: 95%;
            padding: 10px;
            margin: 8px 0;
        }

     

        button {
            display: block;
            margin: 10px auto;
            padding: 10px 20px;
            padding: 10px;
            background: #007BFF;
            color: white;
            border: none;
            cursor: pointer;
            align-items: center;
            justify-content: center;
        }

        button:hover {
            background: #0056b3;
        }

#signUpBox {
  display: none;
}

#signUpMessage {
  margin-top: 10px;
  text-align: center;
  color: red;
}

#dashboard {
    display: none;
}

.propertyCard {
    background: white;
    padding: 20px;
    margin: 15px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.propertyLists {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}